{# Institutional footer: hairline rule, quiet link columns, small colophon. #}
{% macro render() %}
<footer class="footer">
  <div class="footer__wrapper">
    <div class="footer__grid">
      <div class="footer__get-started">
        <h4 class="footer__get-started-heading">Get started building with Shinzo</h4>
        <ul class="footer__link-list">
          <li><a class="footer__link" href="/">Documentation</a></li>
          <li><a class="footer__link" href="https://shinzo.network" target="_blank" rel="noopener noreferrer">shinzo.network</a></li>
        </ul>
      </div>

      <ul class="footer__nav-columns">
        <li class="footer__nav-column">
          <div class="footer__column-title">Who it's for</div>
          <ul class="footer__column-links">
            <li><a class="footer__link" href="/run/run-a-generator/hardware-requirements/">Chain Validators</a></li>
            <li><a class="footer__link" href="/run/run-a-host/hardware-requirements/">Data Hosts</a></li>
            <li><a class="footer__link" href="/build/tutorials/create-your-first-view/">Builders</a></li>
            <li><a class="footer__link" href="/understand/core-concepts/views/">Core concepts</a></li>
            <li><a class="footer__link" href="/understand/get-help/">Get help</a></li>
          </ul>
        </li>

        <li class="footer__nav-column">
          <div class="footer__column-title">Resources</div>
          <ul class="footer__column-links">
            <li><a class="footer__link" href="https://shinzo.network/blog">Blog</a></li>
            <li><a class="footer__link" href="https://shinzo.network/truth">Manifesto</a></li>
            <li><a class="footer__link" href="https://shinzo.network/chains">Chains</a></li>
          </ul>
        </li>

        <li class="footer__nav-column">
          <div class="footer__column-title">Community</div>
          <ul class="footer__column-links">
            <li><a class="footer__link" href="https://discord.shinzo.network" target="_blank" rel="noopener noreferrer">Discord</a></li>
            <li><a class="footer__link" href="https://github.com/shinzonetwork" target="_blank" rel="noopener noreferrer">GitHub</a></li>
            <li><a class="footer__link" href="https://x.com/shinzonetwork" target="_blank" rel="noopener noreferrer">X</a></li>
            <li><a class="footer__link" href="https://t.me/shinzonetwork" target="_blank" rel="noopener noreferrer">Telegram</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="footer__bottom">
      <span class="footer__copyright">Shinzo &copy; 2026</span>
      <span class="footer__bottom-note">The Read Layer of Truth</span>
    </div>
  </div>
</footer>
{% endmacro render %}
