{# Usage: {% need_help(client="Generator", repo_name="shinzo-generator-client", repo="https://github.com/shinzonetwork/shinzo-generator-client/issues") %} #}
<ul>
  <li>For onboarding and technical support, join the <a href="https://discord.shinzo.network" target="_blank" rel="noopener noreferrer">Shinzo Discord</a>.</li>
  <li>To report a documentation bug or request a feature, open an issue in the <a href="https://github.com/shinzonetwork/docs/issues" target="_blank" rel="noopener noreferrer">docs repo</a>.</li>
  <li>For a technical issue with the {{ client }} client, open an issue in the <a href="{{ repo }}" target="_blank" rel="noopener noreferrer">{{ repo_name }} repo</a>.</li>
</ul>
