{% extends "base.html" %}
{% import "macros/sidebar.html" as sidebar %}

{% block title %}<title>{{ section.title | default(value=config.title) }} | {{ config.title }}</title>{% endblock title %}

{% block body %}
<main class="main-wrapper">
  <div class="docs-layout">
    <aside class="theme-doc-sidebar-container">
      {{ sidebar::render(current=section.path) }}
    </aside>
    <div class="docs-content">
      <article class="docItemCol markdown">
        {{ section.content | safe }}
        <ul>
        {% for page in section.pages %}
          <li><a href="{{ page.permalink }}">{{ page.title }}</a></li>
        {% endfor %}
        </ul>
      </article>
    </div>
  </div>
</main>
{% endblock body %}

{% block mobile_sidebar %}{{ sidebar::render(current=section.path) }}{% endblock mobile_sidebar %}
